<form #dbForm="ngForm" >
<Table>
  <tr>
    <td><H2>Personal Loan Top Up or Apply</H2></td>
    <td></td>
    <td><button type="button" id="btnTopUp"  (click)="applyTopUp()" >Apply for increased Loan amount</button></td>
   
  </tr>
  <tr>
    <td>To Apply for Top Up for existing loan, Please select the loan below, make note of the carry over amount before proceeding</td>
    <td>CarryOver / Payout Amount : {{carryamtforui}}</td>
    <td><button type="button" id="btnNewLoan">Apply for New Personal Loan</button></td>
  </tr>
</Table>
<br/>
<br/>
<br/>
<br/>
<!-- Material Angular-->
<mat-accordion >
    <mat-expansion-panel *ngFor="let char of characters; let i=index" style="border-bottom: 5px">      
            <mat-expansion-panel-header style="background: lightgray">
                <mat-panel-title >
                      <p>{{ char.LoanType }} </p>               
                      <p>&nbsp;&nbsp;:&nbsp;{{ char.Id }} </p>
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <Table style="width: 100%">
              <tr>
                <td>Balance :</td><td> {{char.BalanceAmt}} </td>
                <td>Top Up: <input type="checkbox" (click)="onSelect(char)" ></td>
               </tr>
              <tr><td>Balance includes interest of :</td><td> {{char.IntAmt}}</td><td></td></tr>
              <tr><td>Early Repayment Fee :</td><td>{{char.RePayment}}</td><td></td></tr>
              <tr><td >Payout / Carryover Amount :</td> <td  scope="row">{{char.PayCarryOverAmt}}</td>
                <td>This amount will be carried over</td></tr> 
          </Table> 
  </mat-expansion-panel>
</mat-accordion>
</form>